@model RSContentMGR.Models.getCtgsResult

<tr>
                        <td>
                             
                            @Html.CheckBox("r:"+ViewData["i"].ToString())
                            // commete removed

                        </td>
                        <td> @Model.cname </td>
                        <td>@String.Format("{0:D}",@Model.cdate)</td>
                        <td>@String.Format("{0:D}",@Model.idate)</td>
                        <td>@Model.items</td>
                        <td>@Model.res</td>
                        <td>#Resources
                        <br />
                            new change jdjdjd 
                        </td>
                    </tr>
